@charset "UTF-8";

/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}

/* common */
img {
    vertical-align: top;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* popUp */
.popUp {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 200;
    display: none;
}
.popUp_cont {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #735fa6;
    background-color: #ebe7f5;
    padding: 20px 30px;
    text-align: center;
    line-height: 2;
}
.popUp_cont p {
    margin-bottom: 20px;
}
.popUp_cont button {
    padding: 3px 7px;
    cursor: pointer;
}

/* header */
#header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e6f8;
    padding: 0 30px;
}
.header_logo {
    width: 150px;
    height: 40px;
    display: inline-block;
}
.header_logo img {
    width: 100%;
}
#header nav {
    width: 600px;
}
.menu_main {
    display: flex;
    justify-content: space-between;
}
.menu_mainList {
    position: relative;
}
.menu_mainList > a {
    font-size: 18px;
}
.menu_mainList:hover .menu_mainTit {
    background-color: #8067d4;
    color: #ffffff;
}
.menu_mainTit {
    width: 150px;
    height: 50px;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
}
.menu_sub {
    width: 100%;
    position: absolute;
    z-index: 100;
    display: none;
}
.menu_subTit a {
    width: 100%;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: #ffffff;
}
.menu_subTit:hover a {
    background-color: #b6a4f1;
    color: #ffffff;
}

/* main _slide*/
#slide {
    width: 1200px;
    height: 300px;
}
.slide_wrap {
    position: relative;
}
.slide_piece {
    position: absolute;
}
.slide_piece a p {
    background-color: #ffffffa5;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    right: 0;
    bottom: 0;
}
/* main _contents*/
.contents {
    display: flex;
}
#tab_menu {
    width: 400px;
    height: 200px;
}
.tab_menuTit li {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
}
.tab_menuTit li a {
    display: inline-block;
    padding: 10px 20px;
}
.tab_menuTit li.on a,
.tab_menuDesc .on {
    background-color: #d1d1f2;
}
.notice {
    padding: 15px 20px;
}
.notice li:hover {
    text-decoration: wavy underline #a790e3;
    text-underline-position: under;
}
.notice li a {
    display: flex;
    justify-content: space-between;
    line-height: 1.97;
}
.notice_tit {
    width: 250px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gallery {
    padding: 18px 20px;
    display: none;
}
.gallery li {
    width: 32%;
    display: inline-block;
}
.gallery li a img {
    width: 104%;
}
.gallery li:hover a img {
    border: 2px solid #735fa6;
}
#banner {
    width: 400px;
    height: 200px;
    background-color: #acace7;
}
#banner,
#link {
    padding: 25px;
    position: relative;
}
#banner a h2,
#link a h2 {
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffa0;
    padding: 6px 10px;
}
#link {
    width: 400px;
    height: 200px;
    background-color: #897ac5;
}

/* footer */
#footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e6f8;
    padding: 0 30px;
}
.footer_logo {
    width: 150px;
    height: 40px;
    display: inline-block;
}
.footer_logo img {
    width: 100%;
    filter: grayscale(1);
}
.footer_cont {
    width: 80%;
}
.footer_menu {
    height: 50px;
}
.footer_menuList {
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    padding: 0 100px;
}
.footer_menuTit {
    display: inline-block;
}
.footer_menuTit a {
    padding: 0 32px;
    border-right: 2px solid #8c87b5;
}
.footer_menuTit a:nth-child(4) {
    border: none;
}
.copyright {
    height: 50px;
    text-align: center;
    line-height: 50px;
}
