/* 레이아웃 */
body {
    background-color: #f5f5f5;
}

/* header */
#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1.2vw 0.8vh 1vw;
    border-bottom: 1px solid #696969;
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}
#header h1 a {
    font-size: 28px;
    font-weight: 400;
    color: #333333;
}
#header h1 a:hover {
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}
.header_right {
    padding-top: 1%;
}
.header_right .header_sub1 {
    color: #3333337b;
    font-weight: 500;
    margin-right: 2.4vw;
}
.header_right .header_sub2 a {
    font-size: 14px;
    color: #333333;
}
.header_right .header_sub2:hover a {
    color: #000000;
    text-decoration: #9099edda wavy underline;
    text-underline-position: under;
}

/* main */
#main {
    padding: 1.7%;
    max-width: 1300px;
    margin: 0 auto;
}
.main_header h2 {
    padding: 8% 0 3% 0;
    font-family: 'Tenada';
    font-size: 4.5vw;
    text-align: center;
}
.main_header h2 em {
    color: #878ECD;
    font-family: 'Tenada';
    font-size: 5vw;
}
.main_menu {
    background-color: rgba(196, 196, 196, 0.181);
    border-radius: 5px;
    padding: 0.7% 1.1% 0.7% 1.1%;
    margin-bottom: 3%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.main_menu ul {
    margin-bottom: 0.3%;
}
.main_menu ul li {
    display: inline;
}
.main_menu ul li a {
    display: inline-block;
    background-color: #878ECD;
    color: #ffffff;
    padding: 0.2% 0.4%;
}
.main_menu ul li a:hover {
    background-color: #ffffff;
    color: #222222;
    font-weight: 600;
}
.main_menu ul .active a,
.main_menu ul .active a:hover {
    background-color: #111111;
    color: #ffffff;
    font-weight: 600;
}
.main_refer {
    border: 1px solid #696969;
    background-color: #fffafa;
    padding: 3% 2%;
}

/* document_etc (티스토리) */
::selection {
    /* background-color: #bbff003f; */
    background-color: #fbff0045;
}
.document_etc {
    word-break: keep-all;
    font-family: 'NanumSquareNeo';
}
.document_etc i {
    font-style: normal;
    position: relative;
}
.document_etc i::before {
    content: '';
    background-color: #ff57e02d;
    width: 100%;
    height: 10px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.document_etc .t_subject {
    font-size: 34px;
    font-weight: 500;
    border-bottom: 1px dashed #74747464;
    padding-bottom: 2% !important;
    margin-bottom: 5% !important;
}
.document_etc details {
    background-color: #fcfcfc;
    border-bottom: 2px dashed #b9bdeb92;
}
/* (html) t_content */
.document_etc .t_content {
    margin-bottom: 100px !important;
}
.document_etc .t_cont_tit {
    font-size: 26px;
    font-weight: 500;
    margin: 0 0 1.7% 2% !important;
}
.document_etc .t_cont_num {
    font-size: 30px;
    font-weight: 900;
    color: #3843a867;
    margin-right: 1% !important;
}
.document_etc .t_cont_desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    background-color: #f6f5fa;
    color: #060606;
    padding: 1.4% 2.2% !important;
    border-left: 9px solid #9199e6e9;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.12);
    margin: 0 0 5% 3% !important;
}
/* (html) t_content2 */
.document_etc .t_content2 {
    padding-left: 3.8% !important;
    margin-bottom: 70px !important;
}
.document_etc .t_cont_tit2 {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 1.2% !important;
}
.document_etc .t_cont_num2 {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #414caa6d;
    border-radius: 6px;
    padding: 0.2% 0.4% !important;
    margin-right: 1% !important;
}
.document_etc .t_cont_desc2 {
    width: 95%;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.8;
    background-color: #f8f8fb;
    color: #060606;
    padding: 1% 1.5% !important;
    border-top: 1px solid #b8bce0b1;
    border-bottom: 1px solid #b8bce0b1;
    margin: 0 0 2% 1.7% !important;
}
/* (html) t_table */
.document_etc .t_table {
    width: 94%;
    border-collapse: collapse;
    border-spacing: 1px;
    position: relative;
    margin: 0 0 2% 1.7% !important;
    line-height: 1.8;
    word-wrap: break-word;
}
.document_etc .t_table caption {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.document_etc .t_table tr th {
    background-color: #e3e3f66b;
    color: #000000;
    font-size: 14px;
}
.document_etc .t_table tr th,
.document_etc .t_table tr td {
    color: #111111;
    font-weight: normal;
    border: 2px solid #c9cdefa5;
    padding: 0.9% 1.5% !important;
}
.document_etc .t_table tr td {
    font-size: 15px;
    background-color: #fefeff;
}
.document_etc .t_table tr td a:hover {
    text-decoration: #9099edda wavy underline;
    text-underline-position: under;
}
.document_etc .t_table .ce {
    text-align: center;
}
.document_etc .t_table .ve {
    vertical-align: middle;
}
.document_etc .t_table tbody tr:hover {
    background-color: #00dbc171;
}
.document_etc .t_table tr td .material-symbols-outlined {
    font-size: 17px;
    line-height: 2;
}
/* (html) t_example */
.document_etc .t_example {
    margin: 2% 0 1.5% 2.2% !important;
}
.document_etc .t_ex_tit {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    background-color: #a8ade3;
    padding: 0.35% 1.3% !important;
    border-bottom: 2px solid #e9e9e9;
    border-radius: 15px;
    margin: 0 0 1.5% 0 !important;
}
.document_etc .t_ex_sub {
    padding-left: 2.5% !important;
    margin-bottom: 3% !important;
}
.document_etc .t_ex_subTit {
    font-size: 15px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 1.6% !important;
}
.document_etc .t_ex_num {
    font-size: 14px;
    font-weight: 800;
    border-right: 5px solid #c3c9fe;
    padding: 0 0.65% !important;
    margin-right: 1.3% !important;
}
.document_etc .t_ex_desc {
    width: 95%;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #222222;
    background-color: #a4acff14;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 1.2% 1.8% !important;
    margin: 0 0 1.7% 1% !important;
}
.document_etc .t_ex_box {
    width: 90%;
    font-size: 14px;
    line-height: 1.7;
    color: #222222;
    background-color: #e0e2f714;
    border: 2px solid #d3d7f7bc;
    border-radius: 10px;
    padding: 1% 1.5% !important;
    margin: 1.5% 0 1.5% 2.5% !important;
    word-wrap: break-word;
}
.document_etc .t_ex_box .t_link_tit {
    margin-right: 8px !important;
}
.document_etc .t_ex_box .t_link_tit em {
    color: #333333;
    font-weight: 600;
}
.document_etc .t_ex_box .t_link_desc:hover {
    color: #444444;
    font-weight: 600;
    text-decoration: #9099edda wavy underline;
    text-underline-position: under;
}
/* (html) t_box */
.document_etc .t_box {
    width: 92%;
    font-size: 15px;
    color: #111111;
    line-height: 2.2;
    background-color: #fdfdfd;
    border: 1px solid #b8b8b8ba;
    padding: 1.6% 2% !important;
    margin: 0 0 1.2% 3% !important;
}
/* (html) t_img */
.document_etc .t_img {
    width: 90%;
    background-color: #fdfdfd;
    border: 1px solid #b8b8b8ba;
    padding: 1.6% 2% !important;
    margin: 0 0 1.2% 3% !important;
}
.document_etc .t_img img {
    width: 100%;
    object-fit: cover;
}
/* (html) t_code */
.document_etc .t_code {
    margin: 2% 0 1.5% 1% !important;
}
/* (html) t_iframe */
.document_etc .t_iframe {
    padding: 4% 6% !important;
}
.document_etc .t_iframe iframe {
    width: 95%;
    height: 400px;
}
/* (html) t_desc_refer */
.document_etc .t_desc_refer {
    border: 1px solid #91919148;
    background-color: #fefbfa;
    border-radius: 20px;
    padding: 1.2% 1.6% !important;
    margin: 3% 6% !important;
}
.document_etc .t_refer_tit {
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    text-decoration: 2px #5a5f8a23 underline;
    text-underline-position: under;
    margin-bottom: 0.7% !important;
}
.document_etc .t_refer_desc,
.document_etc .t_refer_desc2 {
    font-size: 14px;
    font-weight: 500;
    color: #222222;
    line-height: 2;
    padding-bottom: 0.5% !important;
}
.document_etc .t_refer_desc2 {
    margin-left: 3% !important;
}
.document_etc .t_refer_num {
    display: inline-block;
    font-size: 12px;
    font-weight: 900;
    color: #6773de;
    margin: 0 1% 0 0.8% !important;
}
.document_etc .t_refer_point {
    font-weight: 700;
    color: #111111;
    background-color: #7f85bf20;
    border-radius: 5px;
    padding: 0.15% !important;
    margin-right: 2% !important;
}

/* footer */
#footer {
    padding: 1% 0 3% 0 !important;
    text-align: center;
}
#footer a {
    color: #333333;
}
#footer a:hover {
    text-decoration: #777777 underline;
    text-underline-position: under;
}


/* 미디어쿼리 */
@media (max-width: 1200px){
    /* (반응형_header) */

    /* (반응형-document_etc-티스토리) */

}
@media (max-width: 1024px){
    /* (반응형_header) */

    /* (반응형-document_etc-티스토리) */
}
@media (max-width: 768px){
    /* (반응형_header) */

    /* (반응형-document_etc-티스토리) */

}
@media (max-width: 600px){
    /* (반응형_header) */

    /* (반응형-document_etc-티스토리) */
}
@media (max-width: 480px){
    /* (반응형_header) */

    /* (반응형-document_etc-티스토리) */

}
@media (max-width: 320px){
    /* (반응형_header) */

    /* (반응형-document_etc-티스토리) */
}